$owl-image-path: "~owl.carousel/src/img/";
@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dropdown-content.fixed {
    position: fixed;
}

.owl-theme {
    .owl-nav .disabled {
        display: none;
    }
    .owl-stage .owl-item {
        @apply flex items-stretch w-full;
    }
}

.block_discovery_card {
    &> * {
        @apply transition-all duration-500 w-1/6;
        &.active {
            @apply transition-all duration-500 w-2/6;
            &> * {
                @apply bottom-0;
            }
        }
    }
}

.slider-wrapper > .active {
    @apply bg-white text-red-600 opacity-100 font-bold;
}

.slider-wrapper > .active:before {
    @apply animate-line_to_full md:animate-none w-full bg-red-600 absolute left-0 bottom-0 h-0.5;
    content: "";
}

@screen md {
    .slider-wrapper .active {
        @apply -mx-1 bg-red-600 border-red-600 text-white opacity-100 font-bold relative;
        width: calc(100% + .5rem);
    }
    .slider-wrapper .active:before {
        @apply  border-red-800 absolute w-0 h-0 -top-1 -left-0 border-solid border-b-4 border-l-4 border-r-0 border-t-0;
        content: "";
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .slider-wrapper .active:after {
        @apply bg-red-600 border-red-800 absolute w-0 h-0 -top-1 right-0 border-solid border-b-0 border-l-4 border-r-0 border-t-4;
        content: "";
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
}
