@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dropdown button:focus + .dropdown-menu,
.dropdown .dropdown-menu:hover {
    display: block;
}

.slider-wrapper .text-bar.active {
    @apply bg-white text-red-600 opacity-100 font-bold;
}

.slider-wrapper .text-bar.active:before {
    @apply animate-line_to_full w-full bg-red-600 absolute bottom-0 h-0.5;
    content: "";
}

@screen md {
    .slider-wrapper .text-bar.active {
        @apply -mx-1 bg-red-600 border-red-600 text-white opacity-100 font-bold;
        width: calc(100% + .5rem);
    }
    .slider-wrapper .text-bar.active:before {
        @apply  border-red-800 absolute w-0 h-0 -top-1 left-0 border-solid border-b-4 border-l-4 border-r-0 border-t-0;
        content: "";
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .slider-wrapper .text-bar.active:after {
        @apply bg-red-600 border-red-800 absolute w-0 h-0 -top-1 right-0 border-solid border-b-0 border-l-4 border-r-0 border-t-4;
        content: "";
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
}
